@value color-dark,color-light,color-lightLighten from "../../utility/colors.css";

.themeToggleBtn {
  width: 45px;
  height: 30px;
  line-height: 30px;
  background-color: color-lightLighten;
  border-radius: 5px;
  border: 1px solid color-light;
  margin: 0 auto 0 210px;
  display: block;
  transition: all 0.3s;
}
.themeToggleBtn.dark {
  background-color: color-dark;
}
@media screen and (max-width: 992px) {
  .themeToggleBtn {
    width: 40px;
    margin: 0 auto 0 10px;
  }
}
