@value color-white,color-light,color-dark,color-darkLighten,color-blackLighten from "../../utility/colors.css";

.col {
  flex: 0 0 16.666667%;
  width: 16.666667%;
  padding: 0 10px;
}
.item {
  margin: 0 0 30px 0;
  cursor: pointer;
}
.coverContainer {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-color: color-light;
  box-shadow: 0 1px 4px 0 color-blackLighten;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.itemHover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: color-blackLighten;
  background: radial-gradient(circle, #00000050 0%, #000000bb 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s;
}
.itemHover:hover {
  opacity: 1;
}
.itemHover i {
  font-size: 50px;
  color: color-white;
}
.musicName {
  font-size: 13px;
  font-weight: 600;
  color: color-dark;
  margin: 8px 0 4px 0;
  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.3s;
}
.artistName {
  font-size: 11px;
  font-weight: 500;
  color: color-darkLighten;
  margin: 0;
  height: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 992px) {
  .col {
    flex: 0 0 33.333333%;
    width: 33.333333%;
  }
}
@media screen and (max-width: 576px) {
  .col {
    flex: 0 0 50%;
    width: 50%;
    padding: 0 5px;
  }
}

/* dark mode */
:global(.dark) .musicName {
  color: color-white;
}
